:root {
  --handwriting-font-family: "Playpen Sans",
    cursive;
  --main-font-family: "Playwrite DE Grund",
    system-ui;
}

body {
  background: linear-gradient(90deg,
      rgb(179, 99, 249) 11.2%,
      rgb(165, 69, 249) 47.7%,
      rgb(152, 38, 252) 80.2%);
}

.navbar-green {
  background: linear-gradient(-20deg, #3ced42 0%, #74f379 50%, #86e089 100%);
  font-family: var(--main-font-family);
  font-weight: bolder;
}

.navbar-nav a {
  color: rgb(152, 38, 252);
}

.navbar-nav a:hover {
  color: rgb(152, 38, 252);
  transform: scale(1.25);
}

.hero-section {
  margin-top: 120px;
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  font-family: var(--handwriting-font-family);
  color: rgb(71, 238, 76);
}

h2 {
  font-size: 20px;
  font-family: var(--main-font-family);
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-family: var(--handwriting-font-family);
  color: rgb(71, 238, 76);
  font-weight: 500;
}

p {
  font-size: 20px;
  font-family: var(--main-font-family);
  font-weight: 500;
  text-align: justify;
}

.justified-text-right {
  width: 27rem;
  margin-right: auto;
}

.justified-text-left {
  width: 27rem;
  margin-left: auto;
}

.custom-btn {
  font-size: 40px;
}

.social-net:link {
  color: rgb(83, 239, 89);
}

.social-net:visited {
  color: rgb(83, 239, 89);
}

.custom-btn:hover {
  transform: scale(1.25);
}

.btn-link {
  border-radius: 5px;
  border: 3px solid rgb(83, 239, 89);
  color: rgb(83, 239, 89);
  text-decoration: none;
}

.btn-link:hover {
  transform: scale(1.25);
  color: rgb(83, 239, 89);
  border-radius: 5px;
  border: 3px solid rgb(83, 239, 89);
}

@media (max-width: 768px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1,
  h2,
  h3,
  a {
    width: inherit;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .work-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h1 {
    font-size: 35px;
  }

  .intro-text {
    font-size: 19px;
  }

  .justified-text-right,
  .justified-text-left {
    width: inherit;
  }

  .work-image {
    margin-bottom: 2rem;
    width: inherit;
  }
}

.show-work {
  background: rgb(71, 238, 76);
  display: block;
  margin: 20px auto;
  text-decoration: none;
  border: 3px solid rgb(152, 38, 252);
  padding: 10px;
}

.show-work a {
  text-decoration: none;
  color: rgb(152, 38, 252);
  font-weight: bolder;
  font-family: var(--main-font-family);
  font-size: 15px;
}

.show-work:hover {
  transform: scale(1.25);
}

.show-work:visited {
  color: rgb(152, 38, 252);
}